<div id="commentsDiv">
	
        <div>        
        <strong>Posted <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank?%> ago</strong><br >
        <%= comment.body %>        
        </div>
    
</div>